{% extends 'mailing/base.html'  %}
{% block content %}
<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
            <h1 class="display-3 fw-bold">Вы на странице рассылок</h1>
            <h3 class="fw-normal text-muted mb-3">Расширяйте список</h3>

        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

<div class="container">
    <div class="row text-center">
        <div class="col-20 mb-5">
            {% if user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'mailing:create_mail' %}">Добавить новую рассылку</a>
            {% endif %}
        </div>
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.satrt_time|title}}/{{object.end_time|title}}/{{object.period|title}}</h4>
                </div>
                <div class="card-body">
                    {% for client in object.client.all %}
                    <h2 class="card-title pricing-card-title">{{ client.ferst_name }} {{ client.last_name }}</h2>
                    {% endfor %}
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Тема письма: {{object.active_version_title}}</li>

                    </ul>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Сообщение: {{object.active_version_body|slice:100|default:"ТЕКСТ ОТСУТСТВУЕТ"}}</li>

                    </ul>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:mail_detail' object.pk %}">Открыть</a>
                    {% if user.is_authenticated %}
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:edit_mail' object.pk %}">Изменить</a>
                    {% endif %}
                </div>
                <div class="card-future">
                    <a type="button" class="btn btn-lg btn-block btn-outline-danger" href="{% url 'mailing:mailing_delete' object.pk %}">Удалить</a>
                    <spanc class="text-muted">рассылка № {{ object.pk }}</spanc>
                </div>
                <div class="card-future">
                    {% if user.is_staff %}
                    <spanc class="text-muted">{{ object.user|default:"Автор не указан" }}</spanc>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
</main>
{% endblock %}