{% extends 'mailing/base.html'  %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-success mt-5">
                <h4 class="alert-heading">Password Successfully Reset!</h4>
                <p>A new password has been sent to the address <strong>{{ email }}</strong>. Please check your email and
                    use the new password to log in.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}