{% extends 'mailing/base.html'  %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-danger mt-5">
                <h4 class="alert-heading">Password Reset Error!</h4>
                <p>Failed to reset the password for the specified email address <strong>{{ email }}</strong>. Please
                    ensure that the email address is correct and try again.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}